doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ANZ Monthly Newsletter - #{article.Newsletter}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='Description', lang='en', content='ADD SITE DESCRIPTION')
    meta(name='author', content='ADD AUTHOR INFORMATION')
    meta(name='robots', content='index, follow')
    // icons
    link(rel='apple-touch-icon', href='/assets/img/apple-touch-icon.png')
    link(rel='shortcut icon', href='favicon.ico')
    // Override CSS file - add your own CSS rules
    link(rel='stylesheet', href='/assets/css/styles.css')
  body
    .container
      .header
        h1.header-heading ANZ Monthly Newsletter - #{article.Newsletter}
      .content
        .main
          h1 #{article.Name}
          hr
          // Paragraphs
          p !{article.Content}
          hr
      .footer
         a(href="/newsletter/#{article.Newsletter}") See All Articles
